@using Mailings.Web.ViewModels
@model MailingViewModel
@section Content
{
    <h2 class="main-text">Change mailing</h2>
    <div asp-validation-summary="All">
    </div>
    <form method="post" enctype="multipart/form-data"
          asp-action="Change" asp-controller="Mailings">
        <div class="form-section">
            <h3 class="form-section-label">Mailing</h3>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name"/>
            </div>
        </div>
        <div class="form-section">
            <h3 class="form-section-label">Choose mail</h3>
            <div class="form-group">
                <label asp-for="Mail.Id">Mail</label>
                <select asp-for="Mail.Id"
                        asp-items="@(new SelectList(
                                       items: ViewData["Mails"] as 
                                            IEnumerable<MailingMailViewModel>, 
                                       dataValueField: nameof(MailingMailViewModel.Id),
                                       dataTextField: nameof(MailingMailViewModel.Theme)))">
                </select>
            </div>
        </div>
        @if (Model.To.Any())
        {
            <div id="ReceiversSection" class="form-section">
                @for (int i = 0; i < @Model.To.Count; i++)
                {
                    <div class="form-group">
                        <label asp-for="@Model.To[i]">Email @(i + 1)</label>
                        <input asp-for="@Model.To[i]"/>
                    </div>
                }
            </div>
        }
        <div class="buttons-section">
            <button type="button" id="AddReceiverButton" class="button">
                Add receiver
            </button>
            <button type="button" id="RemoveReceiverButton" class="button">
                Remove receiver
            </button>
            <button type="submit" class="button">Change</button>
        </div>
    </form>
}
@section Scripts
{
    <script asp-src-include="/lib/**.min.js" asp-src-exclude="**.slim.**js"></script>
    <environment names="development">
        <script asp-src-include="/js/modules/modal.js"></script>
        <script asp-src-include="/js/createGroup.js"></script>
    </environment>
    <environment names="staging, production">
        <script asp-src-include="/js/modules/modal.min.js"></script>
        <script asp-src-include="/js/createGroup.min.js"></script>
    </environment>
}