@model Mailings.Web.ViewModels.MailViewModel
<div class="action-block">
    <a asp-action="Delete" asp-controller="Mails" 
       asp-route-id="@Model.Id" asp-route-type="@Model.Type"
       class="button entity-func">
        Delete
    </a>
    <a asp-action="Change" asp-controller="Mails"
       asp-route-id="@Model.Id" asp-route-type="@Model.Type"
       class="button entity-func">
        Change
    </a>
</div>
<list struct="Text">
    <el>Theme: @Model.Theme</el>
    <el>Content: @ViewBag.FormattedContent</el>
    <el>Count of attachments: @Model.Attachments.Count()</el>
</list>