@model MailingViewModel
<div class="action-block">
    <a asp-action="More" asp-controller="Mailings" asp-route-id="@Model.Id">More...</a>
</div>
<list struct="Text">
    <el>Name: @Model.Name</el>
    <el>Mail theme: @Model.Mail.Theme</el>
    <el>Mail content: @ViewBag.MailFormattedContent</el>
    <el>To emails: @ViewBag.FormattedSenders</el>
</list>