@model UserDataViewModel
@section Content {
    <h1 class="main-text">Profile data</h1>
    <list struct="Block">
        <el>Username: <span class="text-value-marker">@Model.UserName</span></el>
        <el>Role: <span class="text-value-marker">@Model.Role</span></el>
        <el>First name: <span class="text-value-marker">@Model.FirstName</span></el>
        <el>Last name: <span class="text-value-marker">@Model.LastName</span></el>
        <el>Email: <span class="text-value-marker">@Model.Email</span></el>
    </list>
    <div class="center-text">
        <btn action="Logout" controller="Home">Logout</btn>
        <btn action="Change" controller="User">Change account data</btn>
    </div>
}